@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins:wght@400;600;700&display=swap');
:root {
    --primaryColor: #ff4d00;
    --secondaryColor: #C10D0E;
    --bgColorPrimary: #FCE8EA;
    --bgColorSecondary: #F0F3F6;
    --fontFamily: 'Poppins', sans-serif;
    --grayColor1: #999;
    --grayColor2: #777;
    --grayColor3: #555;
    --darkGrayColor1: #333;
    --darkGrayColor2: #222;
    --lightGrayColor1: #ccc;
    --lightGrayColor2: #ddd;
    --lightGrayColor3: #eee;
    --lightGrayColor4: #f3f3f3;
    --lightGrayColor5: #f7f7f7;
    --lightGrayColor6: #f4f4fb;
}
body {
    background: #fff;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
  }
h1 {
    font-size: 40px;
}
h2 {
    font-size: 35px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 25px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Josefin Sans', sans-serif !important;
}
img {
    max-width: 100%;
}
body a {
    color: var(--primaryColor);
    text-decoration: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.section {
    padding-bottom: 100px;
}
.inner-services img {
    margin-bottom: 18px;
}
/* loader CSS */
#nprogress{
    pointer-events:none
}
#nprogress .bar{
    background: var(--primaryColor);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
#nprogress .peg {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px var(--primaryColor),0 0 5px var(--secondaryColor);
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0,-4px);
    -ms-transform: rotate(3deg) translate(0,-4px);
    transform: rotate(3deg) translate(0,-4px)
}
#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px
}
#nprogress .spinner-icon {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 4px solid transparent;
    border-top-color: var(--primaryColor);
    border-left-color: var(--primaryColor);
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite
}
.nprogress-custom-parent {
    overflow:hidden;
    position:relative
}
.nprogress-custom-parent #nprogress .bar,.nprogress-custom-parent #nprogress .spinner {
    position:absolute
}
@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform:rotate(0deg)
    }
    100% {
        -webkit-transform:rotate(360deg)
    }
}
@keyframes nprogress-spinner {
    0% {
        transform:rotate(0deg)
    }
    100% {
        transform:rotate(360deg)
    }
}
/* END OF LOADER CSS */

/* primary button css */
body .btn-primary {
    background: var(--primaryColor);
    color: #fff;
    border-color: transparent;
    outline: none;
}
body .btn-default {
    background: #fff;
    border: solid 2px var(--primaryColor);
    color: var(--primaryColor);
    outline: none;
}
body .btn-rounded {
    border-radius: 50px !important;
}
body .btn-primary:hover,
body .btn-default:hover,
body .btn-primary:active,
body .btn-default:active,
body .btn-primary:focus-visible {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20) !important;
    background: var(--secondaryColor) !important;
    color: #fff !important;
    border-color: transparent !important;
    outline: none;
}
body .btn-transparent {
    background: transparent;
    color: #fff;
    border: solid 2px var(--primaryColor);
}
body .btn-transparent:hover {
    background: var(--secondaryColor);
    color: #fff;
    border-color: var(--secondaryColor);
}
.txt-white {
    color: #fff;
}
.primarycolor {
    color: var(--primaryColor);
}
.primarycolor-bg {
    background: var(--primaryColor);
}
.secondarycolor-bg {
    background: var(--secondaryColor);
}
.testcost-containerfluid .btn-transparent {
    color: var(--primaryColor);
}
.fw-600 {
    font-weight: 600;
}
main#main-layout {
    padding-top: 50px;
}
/* section */
.section {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (min-width: 992px) {
    /* main-layout */
    main#main-layout {
        padding-top: 124px;
    }
    .section {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* homepage-banner-section */
.homepage-banner-section {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 550px;
    overflow: hidden;
    background: #fff;
    padding-top: 50px;
}
.homepage-banner-section .row {
    align-items: center;
}
@media (min-width: 992px) {
    .homepage-banner-section {
        display: flex;
        align-items: center;
        padding-top: 0;
    }
    .homepage-banner-section .row {
        position: relative;
        z-index: 2;
    }
}
@media (max-width: 767px) {
    .homepage-banner-section .row {
        padding-bottom: 100px;
    }
}
/* customlist-section */
.customlist-section {
    background: var(--lightGrayColor6);
}
.customlist-section .clientlogo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 30px 20px;
    border: solid 1px var(--lightGrayColor5);
}
.splide {
    padding-bottom: 50px;
}
.splide .splide__arrows {
    display: flex;
    justify-content: center;
    width: 90px;
    gap: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.splide .splide__arrows button.splide__arrow {
    position: relative;
    left: 0;
    top: 0;
    transform: none;
    width: 35px;
    height: 35px;
    background: var(--primaryColor);
    opacity: 1;
    color: #fff;
    outline: none;
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}
.splide .splide__arrows button.splide__arrow svg {
    fill: #fff;
}
.splide .splide__arrows button.splide__arrow:hover {
    background: var(--secondaryColor);
}
.splide .splide__pagination .splide__pagination__page {
    background: var(--primaryColor);
    outline: none;
}
.splide .splide__pagination .splide__pagination__page.is-active {
    background: var(--secondaryColor);
}

/* testimonial-section */
.testimonial-section {
    background: url('/images/work_bg.webp') repeat;
}
.testimonial-section .testimonial-item {
    display: block;
    position: relative;
}
.testimonial-section .testimonial-item .testimonial-h_item-c {
    display: block;
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.testimonial-section .testimonial-item .testimonial-h_item-c:after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    left: 80px;
    bottom: -10px;
    transform: translate(0,0) rotate(45deg);
}
.testimonial-section .testimonial-item .testimonial-h_profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background: rgba(255,255,255,0.5);
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.testimonial-section .testimonial-item .testimonial-h_profile-pic img {
    width: 80%;
    height: auto;
    max-height: 70px;
    object-fit: contain;
}
.testimonial-section .splide .splide__pagination .splide__pagination__page {
    background: #fff;
}
@media (min-width: 992px) {
    .testimonial-section .row {
        margin-left: -20px;
        margin-right: -20px;
    }
    .testimonial-section .row > .splide {
        padding-left: 0;
        padding-right: 0;
    }
    .testimonial-section .row .testimonial-item {
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* expertisecolmain */
.expertisecolmain .col-lg-4 > a {
    display: block;
    color: inherit;
    text-align: center;
    margin-bottom: 30px;
}
.expertisecolmain .col-lg-4 > a img {
    display: block;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 20px auto;
}
.expertisecolmain .col-lg-4 > a p {
    color: var(--grayColor2);
    font-size: 90%;
}
.expertisecolmain .col-lg-4 > a:hover p {
    color: var(--darkGrayColor2);
}
/* blockanim */
.blockanim {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    background: linear-gradient(0deg, #fff, #fff);
    border-radius: 50px;
}
.blockanim a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    gap: 10px;
    color: var(--darkGrayColor1);
    font-weight: bold;
    font-size: 16px;
    border-radius: inherit;
    transition: all 400ms;
}
.blockanim:before,
.blockanim:after {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    border-radius: inherit;
    background: linear-gradient(45deg, #fb0094, var(--primaryColor), var(--secondaryColor), var(--bgColorPrimary), var(--darkGrayColor1), var(--lightGrayColor6));
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}
.blockanim a i {
    color: var(--primaryColor);
}
.blockanim a:hover {
    background: var(--secondaryColor);
    color: #fff;
}
.blockanim a:hover i {
    color: inherit;
}
@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
.blockanim:after {
    filter: blur(20px);
    opacity: 0.5;
}
/* achievements-section */
.achievements-section {
    background: var(--lightGrayColor6);
}
.achievements-section .achievements-h_achieve-co {
    display: block;
    position: relative;
    text-align: center;
}
.achievements-section .achievements-h_achieve-co .achievements-h_achieve-c {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: solid 2px var(--primaryColor);
    border-radius: 50%;
    margin: 20px auto;
    font-size: 40px;
    color: var(--primaryColor);
}
.achievements-section .achievements-h_achieve-co .achievements-h_achieve-c img {
    width: auto;
    height: 50px;
}
.achievements-section .achievements-h_achieve-co .numscroller {
    font-size: 30px;
    font-weight: bold;
}
.achievements-section .achievements-h_achieve-co h4 {
    font-size: 20px;
}
.achievements-section .achievements-h_achieve-co a {
    color: inherit;
}
.achievements-section .achievements-h_achieve-co a:hover h4,
.achievements-section .achievements-h_achieve-co a:hover .numscroller {
    color: var(--primaryColor);
}
@media (max-width: 767px) {
    .achievements-section .offset-lg-1 .col {
        width: 50%;
        flex-grow: 0;
        flex-basis: auto;
        margin-bottom: 20px;
    }
}
@media (max-width: 450px) {
    .achievements-section .offset-lg-1 .col {
        width: 100%;
    }
}
/* querytest-costetc-section */
.querytest-costetc-section .row .col-lg-6 {
    position: relative;
}
.querytest-costetc-section .row .col-lg-6:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;
    left: 15px;
    background: var(--lightGrayColor6);
    border: solid 1px var(--lightGrayColor3);
    border-radius: 10px;
}
.querytest-costetc-section .row .col-lg-6 .querytest-sec_tr {
    padding: 40px 30px;
    position: relative;
    z-index: 1;
}
/* workcycle-section */
.workcycle-section {
    overflow: hidden;
}
.workcycle-section .container .offset-lg-1 .row {
    margin-left: -20px;
    margin-right: -20px;
    position: relative;
}
.workcycle-section .container .offset-lg-1 .row > * {
    padding-left: 20px;
    padding-right: 20px;
}
.workcycle-section .workcycle-h_work-c {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
    z-index: 2;
}
.workcycle-section .workcycle-h_work-c > div {
    display: block;
    position: relative;
    text-align: center;
    padding: 50px 20px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
    border-radius: 10px;
    background: #fff;
    z-index: 1;
}
.workcycle-section .workcycle-h_work-c img {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .workcycle-section .workcycle-h_work-c:after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        background: var(--primaryColor);
        margin: 0 auto;
        top: 50%;
        right: 0;
        left: 0;
        z-index: -1;
    }
    .workcycle-section .container .offset-lg-1 .row:nth-child(2) > *:last-child .workcycle-h_work-c:after {
        display: none;
    }
    .media-coverage{
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    .workcycle-section .container .offset-lg-1 .row:nth-child(1) .workcycle-rowconnector {
        display: block;
        width: auto;
        position: absolute;
        top: 40%;
        right: 0px;
        bottom: 20px;
        left: 10%;
        /* border-top-right-radius: 20px; */
        border-bottom-right-radius: 20px;
        border-top: solid 2px var(--primaryColor);
        border-right: solid 2px var(--primaryColor);
        border-bottom: solid 2px var(--primaryColor);
    }
    .workcycle-section .container .offset-lg-1 .row:nth-child(2) .workcycle-rowconnector {
        display: block;
        width: auto;
        position: absolute;
        bottom: 40%;
        right: 10%;
        top: -22px;
        left: 0;
        /* border-top-left-radius: 20px; */
        border-bottom-left-radius: 20px;
        border-top: solid 2px var(--primaryColor);
        border-left: solid 2px var(--primaryColor);
        border-bottom: solid 2px var(--primaryColor);
    }
    .workcycle-section .container .offset-lg-1 .row .workcycle-rowconnector:before {
        content: '';
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #350C94;
    }
    .workcycle-section .container .offset-lg-1 .row:nth-child(1) .workcycle-rowconnector:before {
        top: -10px;
        right: -10px;
    }
    .workcycle-section .container .offset-lg-1 .row:nth-child(2) .workcycle-rowconnector:before {
        top: -10px;
        left: -10px;
    }
   
}
/* quick-connect-section */
.quick-connect-section {
    background: var(--lightGrayColor6);
}
.quickcontactform-col .form-group {
    display: block;
    position: relative;
}
.quickcontactform-col .form-group input[type="text"],
.quickcontactform-col .form-group input[type="email"],
.quickcontactform-col .form-group input[type="tel"],
.quickcontactform-col .form-group textarea {
    width: 100%;
    height: 50px;
    border: solid 1px var(--lightGrayColor2);
    border-radius: 0;
    padding: 0 0 0 50px;
    outline: none;
    box-shadow: none;
}
.quickcontactform-col .form-group textarea {
    height: auto;
    padding-top: 10px;
}
.quickcontactform-col .form-group .formicon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--primaryColor);
}
 /* media coverage css */
.media-coverage-section {
    border: 1px solid #e0e0e0;
}
.media-coverage{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}
.media-coverage h3{
    font-size: 30px;
    font-weight: 300;
}
 /* our big family */
 .our-big-family-section p{
    padding-top: 10px;
    padding-bottom: 20px;
 }
 .our-big-family-section h4{
    font-size: 24px;
 }
 .our-big-family-section h5{
    font-size: 48px;
    color: var(--primaryColor);
 }

 /* Social lInks */
 .social-links ul {
    display: flex;
    padding-top: 25px;
    padding-left: 0rem;
    
}

.social-links ul li{
    list-style-type: none;
    border-radius: 50%;
    border: 1px solid var(--primaryColor);
    height: 35px;
    width: 35px;
    margin: 5px;
}
.social-links ul li i{
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 5px;
    padding-top: 8px;
    padding-left: 8px;
}

/* industries-we-have-section */
.industries-we-have-section{
    background-color: var(--lightGrayColor6);
}
.served{
    padding: 30px;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    transition: all .5s;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0 0 15px 0 rgba(0,0,0,.01);
}
.served::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(to right,var(--primaryColor),#ff7200);
    background: -moz-linear-gradient(to right,var(--primaryColor),#ff7200);
    background: -ms-linear-gradient(to right,var(--primaryColor),#ff7200);
    background: -o-linear-gradient(to right,var(--primaryColor),#ff7200);
    background: linear-gradient(to right,var(--primaryColor),#ff7200);
    z-index: -1;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transform: scale(0);
    transform-origin: center;
}
.served:hover:before {
    transform: scale(1);
}
.served:hover{
    color: #fff;
}
.served .img:hover{
    background-color: #fff;
}
.served img{
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-bottom: 20px;
    transition: all .5s;
}

.served-img img{
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
}

/* innerpages-maintop-banner */
.innerpages-maintop-banner {
    display: block;
    background: url('/images/wavebg.svg') no-repeat #FFF1EA;
    background-position: top right;
    background-size: cover;
    padding: 50px 0;
}
.innerpages-maintop-banner h1 {
    color: var(--primaryColor);
    font-weight: bold;
    margin-bottom: 30px;
}
.innerpages-maintop-banner h3 {
    font-size: 22px;
}
.innerpages-maintop-banner .innerpages-maintop-banner-imgwith-mask {
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    background: url('/images/mask-backimg.svg') no-repeat center;
    background-size: contain;
    position: relative;
}
.innerpages-maintop-banner .innerpages-maintop-banner-imgwith-mask > * {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.innerpages-maintop-banner .innerpages-maintop-banner-imgwith-mask > * img {
    display: block;
    width: 100%;
    height: auto;
    mask: url('/images/mask-mainbg.svg');
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}
@media (min-width: 992px) {
    .innerpages-maintop-banner {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .innerpages-maintop-banner h1 {
        font-size: 60px;
    }
    .innerpages-maintop-banner .row > *:first-child {
        padding-right: 50px;
    }
    .innerpages-maintop-banner .row {
        align-items: center;
    }
}